<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="appr.softectachira.com.bolivarbs">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Actividadades -->

        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity android:name=".slide1.SliderActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FullScreen_Juego"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SalasJuego"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <tools:validation testUrl="http://www.ezblox.site/free/raav23/ganabolivares/pago-exitoso" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.ezblox.site"
                    android:pathPrefix="/free/raav23/ganabolivares/pago-exitoso"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RetirarFondos_transferencia"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity android:name=".Registro" />
        <activity android:name=".RetirarFondos" />
        <activity android:name=".RetirarFondos_pagoMovil" />
        <activity android:name=".IngresarFondos" />
        <activity android:name=".IngresarFondos_transferencia"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            />
        <activity android:name=".IngresarFondos_pagoMovil" />
        <activity android:name=".Help" />



        <!-- Servicio -->
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"
            android:permission="" />
        <service
            android:name=".FirebaseInstanceIdServiceMessaging"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_attach_money" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging."
            android:resource="@color/colorAccent" />


    </application>

</manifest>